/* App specific styles can go here */
/* We rely mainly on Tailwind implementation in index.css */

/* Remove default #root constraints from Vite template */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}
